
{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% block show %}
    {{ parent() }}
  <p class="test_stat"> {{ dump(stats) }} </p>
{% endblock %}    

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}