{% if admin.hasRoute('send') %}
    <a href="{{ admin.generateObjectUrl('duplicate', object) }}" class="btn btn-sm btn-default delete_link" title="{{ 'action_duplicate'|trans({}, 'SonataAdminBundle') }}">
        <i class="fa fa-files-o"></i>
        {{ 'action_send'|trans({}, 'SonataAdminBundle') }}
    </a>
{% endif %}
