
{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    <div class="tracking">
        <div class="row">
            <div class="stats">
                <p class="stat_label">Read receipts</p>
                <canvas id="receipts_loader"></canvas>
            </div>
            <div class="stats">
                <p class="stat_label">Links clicked (avg/recipient)</p>
                <canvas id="links_loader"></canvas>
            </div>
        </div>  
        <div class="row link_row" id="most_clicked">
            <p class="stat_label">Most clicked link: </p>
        </div>
        <div class="row link_row" id="least_clicked">
            <p class="stat_label">Least clicked link: </p>
        </div>
    </div>
{% endblock %}