{# template for file upload form type #}
{% block dropzone_widget %}
    {% spaceless %}
        <div class="dropzone add_files">

        </div>
        <div class="dropzone-btn">
            <button class="btn btn-success btn-sm sonata-ba-action add_files">
                <i class="glyphicon glyphicon-plus"></i>
                {{ 'Add files'|trans({}, 'LibrinfoEmailBundle') }}
            </button>
        </div>
    {% endspaceless %}

        <link href="{{ asset('bundles/librinfoemail/css/dropzone.css') }}" type="text/css" rel="stylesheet" />



        <script type="text/javascript" src="{{ asset('bundles/librinfoemail/js/dropzone.js') }}"></script>
{% endblock %}